.top-nav > img{
    color:#eee;

}

*{
    font-family: 'Montserrat', sans-serif;
}

.icon{
    max-height: 16px;
    max-width: 16px;
    margin-right: 5px;
}

.separator-main {
	/* border: 0;
	position: relative;
	height: 1px; */
    margin: 6px;
	/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
}
.center{
    left: 50%;
    transform: translateX(-50%);
}
p{
    padding-top:10px;
}

.bt-nav{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    justify-content: center;
    font-size: 12px;
}

.bg-dark{
    background-color: rgba(0,0,0,1);
}

.is-v-spaced{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar{
    padding: .5rem 2rem;
}

a.navbar-item{
    font-family: 'Montserrat', sans-serif;
}

.tab-breaks{
    display: none;
}
.subtitle.is-6{
    line-height: 28px;
    text-align: justify;
}

.about{
    background: url('../img/about-bg.jpg');
    background-size: cover;
}

.btn-centered{
    position: relative;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
}

.whyUs .columns .column,.testimonials .columns .column{
    margin: 5px;
}
.contactUs{
    background: url("../img/contactUs.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.testimonials .column{
    min-height: 150px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3)
}
.color-overlay{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: rgb(46,48,74);
    background: linear-gradient(90deg, rgba(46,48,74,1) 0%, rgba(9,43,121,1) 41%, rgba(49,227,195,1) 100%); 
    margin: -3rem -1.5rem;  
    opacity: 0.8;
}

.text-sm{
    font-size: 14px;
}

.is-Vcentered{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}



@media only screen and (max-width: 600px) {
    .bt-nav{
        position: relative;
        flex-direction: column;
        display: none;
    }
  }


